    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, rgb(101, 173, 137), rgb(100, 100, 153), rgb(187, 102, 180));
    }

    body .container {
        margin: 10% auto;
        width: 300px;
        height: 500px;
        background: #ecf0f3;

        /* background-color:rgb(242, 245, 226); */
        border-radius: 10px;
        box-shadow: -3px -3px 9px #dac9c9, 3px 3px 8px rgb(10, 10, 10);

    }

    body .container .row {
        width: 100%;
        height: 60px;
        padding: 5px;
        margin-top: 10px;
    }

    body .container .row .input::placeholder {
        font-size: 25px;

    }

    body .container .row .input {
        font-size: 25px;
        width: 100%;
        height: 200%;
        border: none;
        outline: none;
        border-radius: 2%;
        color: #0f0f0f;

        background: transparent;
        /* border-bottom: 1px solid rgb(49, 40, 40); */
        box-shadow: inset 3px 3px 4px rgb(161, 160, 160), inset -3px -3px 4px rgb(241, 224, 224);

    }

    body .container .row {
        width: 100%;
        height: 40px;
        margin-top: 35px;

    }

    body .container .row .op {
        font-size: 20px;
    }

    body .container .row .button {
        width: 50px;
        height: 50px;
        background: #ecf0f3;
        color: rgb(26, 27, 27);
        margin: 9px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 3px 3px 4px rgb(212, 203, 203), inset -3px -3px 4px rgb(85, 81, 81);
    }

    body .container .row .button:hover {

        transform: scale(.9);
    }